<main class="-mx-6 flex flex-col items-center justify-center gap-6 bg-peach py-[105px] text-white md:mx-0 md:rounded-[15px] md:py-[64px]">
  <h1 class='text-[32px] font-medium leading-[36px] md:text-[48px] md:leading-[48px]'>Web Design</h1>
  <p class='max-w-[39ch] text-center text-[15px] leading-[25px] md:max-w-[40ch] md:text-[16px] md:leading-[26px]'>
    We build websites that serve as powerful marketing tools and bring memorable brand experiences.
  </p>
</main>
