---
import { Image } from 'astro:assets'

import australia from '../../assets/shared/desktop/illustration-australia.svg'
import canada from '../../assets/shared/desktop/illustration-canada.svg'
import uk from '../../assets/shared/desktop/illustration-united-kingdom.svg'
---

<section class="mt-[120px] lg:mt-[160px] max-w-[1110px] mx-auto">
  <ul class="flex flex-col gap-12 lg:flex-row lg:gap-[30px] lg:justify-center lg:[&>*]:flex-1">
    <li class="flex flex-col items-center">
      <Image src={canada} alt="" />
      <p class="heading-3 mt-12 mb-8">Canada</p>
      <button
        class="uppercase h-14 rounded-lg inline-flex justify-center items-center bg-peach text-white px-[18px] font-medium tracking-[1px]"
        >See location</button
      >
    </li>
    <li class="flex flex-col items-center">
      <Image src={australia} alt="" />
      <p class="heading-3 mt-12 mb-8">Australia</p>
      <button
        class="uppercase h-14 rounded-lg inline-flex justify-center items-center bg-peach text-white px-[18px] font-medium tracking-[1px]"
        >See location</button
      >
    </li>
    <li class="flex flex-col items-center">
      <Image src={uk} alt="" />
      <p class="heading-3 mt-12 mb-8">United Kingdom</p>
      <button
        class="uppercase h-14 rounded-lg inline-flex justify-center items-center bg-peach text-white px-[18px] font-medium tracking-[1px]"
        >See location</button
      >
    </li>
  </ul>
</section>
