---
import Locations from '../components/about/Locations.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact - Designo">
  <section class="flex justify-center items-center mx-auto px-0 md:px-10 xl:px-0">
    <div
      class="bg-[#E7816B] text-white gap-12 md:gap-10 lg:gap-24 py-[72px] lg:py-0 px-6 md:px-14 lg:px-24 grid grid-cols-1 lg:grid-cols-2 justify-center items-center rounded-none md:rounded-[15px] w-full min-h-[480px] max-w-[1110px] overflow-hidden"
    >
      <div class="flex flex-col w-full">
        <h1 class="text-3xl md:text-5xl font-medium text-center md:text-start">Contact Us</h1>
        <p class="pt-8 text-center md:text-start">
          Ready to take it to the next level? Let’s talk about your project or idea and find out how
          we can help your business grow. If you are looking for unique digital experiences that’s
          relatable to your users, drop us a line.
        </p>
      </div>

      <form class="text-[15px] font-medium items-center md:items-end flex flex-col space-y-[23px]">
        <input
          required
          placeholder="Name"
          class="h-[39px] w-full border-b-[1px] focus:border-b-[3px] border-b-white bg-transparent px-4 py-2 text-sm text-white focus:placeholder:text-white placeholder:text-white/60 outline-none"
        />

        <input
          required
          type="email"
          placeholder="Email Address"
          class="h-[39px] w-full border-b-[1px] focus:border-b-[3px] border-b-white bg-transparent px-4 py-2 text-sm text-white focus:placeholder:text-white placeholder:text-white/60 outline-none"
        />

        <input
          required
          type="tel"
          placeholder="Phone"
          class="h-[39px] w-full border-b-[1px] focus:border-b-[3px] border-b-white bg-transparent px-4 py-2 text-sm text-white focus:placeholder:text-white placeholder:text-white/60 outline-none"
        />

        <textarea
          required
          placeholder="Your Message"
          rows="5"
          class="w-full border-b-[1px] focus:border-b-[3px] border-b-white bg-transparent px-4 py-2 text-sm text-white focus:placeholder:text-white placeholder:text-white/60 outline-none"
        ></textarea>

        <button
          type="submit"
          class="uppercase h-14 w-[152px] bg-white rounded-lg text-[#333136] hover:bg-[#FFAD9B] hover:text-white transition-colors duration-300 flex justify-center items-center"
          >Submit</button
        >
      </form>
    </div>
  </section>

  <Locations />
</Layout>
