---
import Locations from '../components/about/Locations.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact - Designo">
  <section class="flex justify-center items-center mx-auto px-0 md:px-10 xl:px-0">
    <div
      class="bg-[#E7816B] flex justify-center items-center rounded-none md:rounded-[15px] w-full min-h-[480px] max-w-[1110px] overflow-hidden"
    >
      123
    </div>
  </section>

  <Locations />
</Layout>
