---
import Categories from '../components/graphic-design/Categories.astro'
import Hero from '../components/graphic-design/Hero.astro'
import Projects from '../components/graphic-design/Projects.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="App Design - Designo">
  <div class="max-w-[1111px] mx-auto w-full px-6 md:px-10 xl:px-0">
    <Hero />
    <Projects />
    <Categories />
  </div>
</Layout>
