---
import { Image } from 'astro:assets'

import Australia from '../assets/locations/image-map-australia.png'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Locations - Designo">
  <div
    class="grid grid-cols-1 lg:grid-cols-3 max-w-[1111px] mx-auto w-full px-0 md:px-10 xl:px-0 gap-0 md:gap-8"
  >
    <div
      class="col-span-1 lg:col-span-2 relative bg-[#FDF3F0] max-h-[375px] md:max-h-[326px] w-full min-h-[375px] md:min-h-[326px] rounded-none md:rounded-[15px] overflow-hidden justify-center items-center flex"
    >
      123
    </div>
    <div
      class="overflow-hidden h-full max-h-[375px] md:max-h-[326px] w-full rounded-none md:rounded-[15px]"
    >
      <Image src={Australia} alt="" />
    </div>
  </div>
</Layout>
